﻿@model PaginatedList<CATS.Models.Entity>
@{  ViewData["Title"] = "Index"; }

<h2 class="offseth2">Entity Maintenance</h2>

<form asp-action="Index" method="get">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group no-color">
        <p>
          Find by name: <input type="text" class="form-control findby01" name="SearchString" value="@ViewData["currentFilter"]" />
          <input type="submit" value="Search" class="btn btn-default" /> |
          <a asp-action="Index">Back to Full List</a>
        </p>
      </div>
    </div>
  </div>
</form>

<p><a asp-action="CreateEdit">Create New</a></p>

<table class="table">
  <thead>
    <tr>
      <th>
        @Html.ActionLink("Entity", "Index", new { sortOrder = ViewBag.DescriptionSortParm, currentFilter = ViewBag.CurrentFilter })
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
          <a asp-action="CreateEdit" asp-route-id="@item.EntityID">Edit</a> |
          <a asp-action="Delete" asp-route-id="@item.EntityID">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>

@{
  var bPreviousDisabled = !Model.HasPreviousPage ? "disabled" : "";
  var bNextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["currentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["currentFilter"]"
   class="btn btn-default @bPreviousDisabled">
  Previous
</a>
<text class="pagenumber01">Page @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) of @Model.TotalPages</text>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["currentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["currentFilter"]"
   class="btn btn-default @bNextDisabled">
  Next
</a>