﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CATS</title>

  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style01.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style01.min.css" />
  </environment>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">CATS</a>
        <img src="~/Images/Education05.png" class="img-center" height="50" width="50" style="margin-top:2px; margin-bottom:2px;" />
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">TUITION REQUESTS<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a asp-area="" asp-controller="TuitionRequest" asp-action="Index">Tuition Request Processing</a></li>
              <li><a asp-area="" asp-controller="TuitionRequest" asp-action="IndexClosed">Closed Tuition Requests</a></li>
            </ul>
          </li>
          @*<li><a asp-area="" asp-controller="TuitionRequest" asp-action="Index">TUITION REQUESTS</a></li>*@
          <li><a asp-area="" asp-controller="Employee" asp-action="Index">EMPLOYEE LOOKUP</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">MAINTENANCE<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a asp-area="" asp-controller="Denied" asp-action="Index">Denied/Incomplete</a></li>
              <li><a asp-area="" asp-controller="EducationalInstitution" asp-action="Index">Educational Institution</a></li>
              <li><a asp-area="" asp-controller="FinancialAidType" asp-action="Index">Financial Aid Type</a></li>
              <li><a asp-area="" asp-controller="Grade" asp-action="Index">Grade</a></li>
              <li><a asp-area="" asp-controller="Major" asp-action="Index">Major</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">REPORTS<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a asp-area="" asp-controller="Denied" asp-action="Index">Denied/Incomplete</a></li>
              <li><a asp-area="" asp-controller="EducationalInstitution" asp-action="Index">Educational Institution</a></li>
              <li><a asp-area="" asp-controller="FinancialAidType" asp-action="Index">Financial Aid Type</a></li>
              <li><a asp-area="" asp-controller="Grade" asp-action="Index">Grade</a></li>
              <li><a asp-area="" asp-controller="Major" asp-action="Index">Major</a></li>
            </ul>
          </li>
          <li><a asp-area="" asp-controller="Home" asp-action="About">ABOUT</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a></li>
        </ul>
        <label class="navbar-text navbar-right">@ViewBag.UserFirstName</label>
      </div>
    </div>
  </nav>
  <div class="container body-content">
    @RenderBody()
    <hr />
  </div>

  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js"></script>
  </environment>

  @RenderSection("Scripts", required: false)
  </body>
</html>
