﻿@{
  ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
  <div class="col-lg-6">
    <h3>CATS</h3>
    <h3>Certification And Tuition System</h3>
    <h3>Version 1.0.2018.0405</h3>
  </div>
</div>
