﻿@{
  ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<h3>Propect Crozer</h3>
<h3>One Medical Center Blvd.</h3>
<h3>Upland, PA 19013</h3>

<h3>
  <strong>Support:</strong><abbr title="Phone">P:</abbr>610.447.2610
</h3>
