﻿@{    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
  <form class="form-horizontal">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" style="border-color:navy; background-color:dodgerblue"></li>
        <li data-target="#myCarousel" data-slide-to="1" style="border-color:navy; background-color:dodgerblue"></li>
        <li data-target="#myCarousel" data-slide-to="2" style="border-color:navy; background-color:dodgerblue"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="~/images/CATS01.svg" alt="ASP.NET" class="img-responsive" style="margin-top:10px; margin-left:10px" />
        </div>
        <div class="item">
          <img src="~/images/CATS02.svg" alt="Visual Studio" class="img-responsive" style="margin-top:10px; margin-left:10px" />
        </div>
        <div class="item">
          <img src="~/images/CATS03.svg" alt="Package Management" class="img-responsive" style="margin-top:10px; margin-left:10px" />
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2>WELCOME TO CATS</h2>
        <ul>
          <li>Certification And Tuition System</li>
          <li>Version 3.1.2020.0102</li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr class="style01" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <h2>CATS is now utilizing Oracle HR!</h2>
          <h2></h2>
        </div>
      </div>
    </div>
  </form>
</div>
