﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginError</title>
</head>
<body>

  @{
    ViewBag.Title = "NotFound";
  }

  <div style="background-color: #FF793F; color: White; height: 10px;">
  </div>
  <div style="background-color: #FFFFFF; color: #4F98FF; height: 170px; font-weight: bold;">
    <div style=" padding:20px;">
      <h3>
        CATS Logon Error:
      </h3>
      <h4>
        Sorry, you are not authorized to use this site.
      </h4>
      <br />
      <br />
    </div>
  </div>
  <div style="background-color: #FF793F; color: White; height: 20px;">
  </div>
</body>
</html>
