﻿@model CATS.Models.Grade
@{var sTitle = "Grade";}
<div class="container-fluid">
  <h2 class="offseth2">Delete @sTitle</h2>
  <form asp-action="Delete">
    <hr class="style02" />
    <div class="row" style="font-weight:bold;">
      <div class="col-md-4">
        @Html.DisplayFor(Model => Model.Description)
      </div>
    </div>
    <h5>Are you sure you want to delete this @sTitle?</h5>

    <div class="form-group">
      <hr class="style02" />
    </div>
    <div class="clear01" />

    <div class="form-group">
      <input type="submit" value="Delete" class="btn btn-default" /> | <a asp-action="Index">Back to List</a>
    </div>

    <input type="hidden" asp-for="GradeID" />
    <input type="hidden" asp-for="CompanyID" />
    <input type="hidden" asp-for="Description" />
    <input type="hidden" asp-for="DeleteFlag" />
    <input type="hidden" asp-for="RecordUpdate" />
  </form>
</div>
