﻿@model CATS.Models.Denied
@{var sTitle = "Denied/Incomplete";}
<div class="container-fluid">
  <h2 class="offseth2">@sTitle Maintenance</h2>
  <form asp-action="CreateEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr class="style02" />
    <div class="row">
      <div class="col-md-12">
        @Html.LabelFor(model => model.Description, $"{Html.DisplayNameFor(model => model.Description)}:", new { @class = "control-label" })
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        <div class="text-danger">
          @Html.ValidationMessageFor(model => model.Description)
        </div>
      </div>
    </div>

    <div class="form-group">
      <hr class="style02" />
    </div>
    <div class="clear01" />

    <div class="form-group">
      <input type="submit" value="Save" class="btn btn-default" /> | <a asp-action="Index">Back to List</a>
    </div>

    <input type="hidden" asp-for="DeniedID" />
    <input type="hidden" asp-for="CompanyID" />
    <input type="hidden" asp-for="DeleteFlag" />
    <input type="hidden" asp-for="RecordUpdate" />
  </form>
</div>

@section Scripts {@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}