﻿.navbar-inverse {
  background-color: #009;
  border-color: #080808;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ddd;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
  }

.navbar-default .navbar-brand {
  color: #777;
}

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }

.navbar-inverse .navbar-brand {
  color: #fff;
}

  .navbar-inverse .navbar-brand:hover,
  .navbar-inverse .navbar-brand:focus {
    color: #ff6a00;
    background-color: transparent;
  }

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    color: #ff6a00;
    background-color: transparent;
  }

.offseth2 {
  color: #61283A;
}

.pagenumber01 {
  margin-left: 20px;
  margin-right: 20px;
  color: #61283A;
  font-style: normal;
}

.findby01 {
  display: inline-block;
  width: 25%;
}

.clear01 {
  height: 10px;
  clear: both;
}

hr.style01 {
  height: 10px;
  border-style: solid;
  border-color: #61283A;
  border-width: 1px 0 0 0;
  border-radius: 5px;
}

  hr.style01:before {
    display: block;
    content: "";
    height: 10px;
    margin-top: -11px;
    border-style: solid;
    border-color: #61283A;
    border-width: 0 0 1px 0;
    border-radius: 5px;
  }

hr.style02 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #61283A inset;
}

hr.style03 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #61283A, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #61283A, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #61283A, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #61283A, #f0f0f0);
}

/*.ui-datepicker01 {
  background: #61283A;
  background-color: #61283A;
  border: 1px solid #61283A;
  color: #ffd800;
}

.ui-datepicker {
  background: #61283A;
  background-color: #61283A;
  border: 1px solid #61283A;
  color: #ffd800;
}

ui-datepicker01 {
  background: #61283A;
  background-color: #61283A;
  border: 1px solid #61283A;
  color: #ffd800;
}

ui-datepicker {
  background: #61283A;
  background-color: #61283A;
  border: 1px solid #61283A;
  color: #ffd800;
}

.datepicker01 {
  background: #61283A;
  background-color: #61283A;
  border: 1px solid #61283A;
  color: #ffd800;
}*/

/*.datepicker {
  background: #61283A;
  background-color: #61283A;
  border: 1px solid #61283A;
  color: #ffd800;
}
#ui-datepicker-div .ui-state-active {
  color: #ffd800;
}

.ui-datepicker .ui-widget-content {
  background: #ffd800 none;
}

.ui-datepicker01 .ui-widget-content {
  background: #ffd800 none;
}*/

/*#CourseStartDate {
  background: #61283A;
  background-color: #61283A;
  border: 1px solid #61283A;
  color: #ffd800;
}

.CourseStartDate {
  background: #61283A;
  background-color: #61283A;
  border: 1px solid #61283A;
  color: #ffd800;
}

input.hasDatepicker {
  display: inline-block;
  margin-right: 5px;
  width: -webkit-calc(100% - 25px);
  width: -moz-calc(100% - 25px);
  width: -o-calc(100% - 25px);
  width: -ms-calc(100% - 25px);
  width: calc(100% - 25px);
}*/
