﻿@model CATS.Models.TuitionRequest
@{ViewData["Title"] = "Create/Edit"; }

<div class="container-fluid">
  <h2 class="offseth2">Tuition Request Processing</h2>
  <form class="form-horizontal" asp-action="CreateEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <hr class="style03" />

    <div class="row" style="font-weight:normal; color:#0751FF; ">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.RequestNumber): @Html.DisplayFor(Model => Model.RequestNumber)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.DateEntered): @Html.DisplayFor(Model => Model.DateEntered)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.EmployeeNumber): @Html.DisplayFor(Model => Model.EmployeeNumber)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#0751FF">
      <div class="col-md-4">
        Employee Name: @Html.DisplayFor(Model => Model.LastName), @Html.DisplayFor(Model => Model.FirstName)
      </div>
      @*<div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.SocialSecurityNumber): @Html.DisplayFor(Model => Model.SocialSecurityNumber)
      </div>*@
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.DateOfHire): @Html.DisplayFor(Model => Model.DateOfHire)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(model => model.JobCode)-@Html.DisplayNameFor(model => model.JobName): @Html.DisplayFor(model => model.JobCode)-@Html.DisplayFor(model => model.JobName)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#0751FF">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.Entity): @Html.DisplayFor(Model => Model.Entity)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.Position): @Html.DisplayFor(Model => Model.PositionNumber)-@Html.DisplayFor(Model => Model.Position)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.EmployeeStatus): @Html.DisplayFor(Model => Model.EmployeeStatus)-@Html.DisplayFor(Model => Model.StatusDescription)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#0751FF">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.EmploymentCategoryCode)-@Html.DisplayNameFor(Model => Model.EmploymentCategoryName): @Html.DisplayFor(Model => Model.EmploymentCategoryCode)-@Html.DisplayFor(Model => Model.EmploymentCategoryName)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#0751FF">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.UnionCode): @Html.DisplayFor(Model => Model.UnionCode)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.HomePhone): @Html.DisplayFor(Model => Model.HomePhone)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.CostCenter): @Html.DisplayFor(Model => Model.CostCenter)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#5405FF">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.AccountNumber): @Html.DisplayFor(Model => Model.AccountNumber)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.MaximumReimbursement): @Html.DisplayFor(Model => Model.MaximumReimbursement)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.ReimbursementPercent): @Html.DisplayFor(Model => Model.ReimbursementPercent)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#5405FF">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.YTDTuitionReceived): @Html.DisplayFor(Model => Model.YTDTuitionReceived)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.ReimbursementAmount): @Html.DisplayFor(Model => Model.ReimbursementAmount)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.YTDCertificationTuitionReceived): @Html.DisplayFor(Model => Model.YTDCertificationTuitionReceived)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#5405FF">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.ApprovedEmailSentDateTime): @Html.DisplayFor(Model => Model.ApprovedEmailSentDateTime)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.DeniedEmailSentDateTime): @Html.DisplayFor(Model => Model.DeniedEmailSentDateTime)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.IncompleteEmailSentDateTime): @Html.DisplayFor(Model => Model.IncompleteEmailSentDateTime)
      </div>
    </div>

    <hr class="style03" />

    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.CourseTitle1, $"{Html.DisplayNameFor(model => model.CourseTitle1)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-8">
        @Html.EditorFor(model => model.CourseTitle1, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.CourseTitle1)
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-offset-2 col-md-1" style="text-align:left">
        @Html.LabelFor(model => model.TuitionAmount1, $"{Html.DisplayNameFor(model => model.TuitionAmount1)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-2">
        @Html.EditorFor(model => model.TuitionAmount1, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.TuitionAmount1)
      </div>
      <div class="control-label col-md-1" style="text-align:left;">
        @Html.LabelFor(model => model.Grade1ID, $"{Html.DisplayNameFor(model => model.Grade1ID)}:", new { @class = "control-label" })
      </div>
      <div class="control-label col-md-2">
        @Html.DropDownListFor(model => model.Grade1ID, new SelectList(@ViewBag.ListOfGrade, "GradeID", "Description"), htmlAttributes: new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.CourseTitle2, $"{Html.DisplayNameFor(model => model.CourseTitle2)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-8">
        @Html.EditorFor(model => model.CourseTitle2, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.CourseTitle2)
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-offset-2 col-md-1" style="text-align:left">
        @Html.LabelFor(model => model.TuitionAmount2, $"{Html.DisplayNameFor(model => model.TuitionAmount2)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-2">
        @Html.EditorFor(model => model.TuitionAmount2, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.TuitionAmount2)
      </div>
      <div class="control-label col-md-1" style="text-align:left;">
        @Html.LabelFor(model => model.Grade2ID, $"{Html.DisplayNameFor(model => model.Grade2ID)}:", new { @class = "control-label" })
      </div>
      <div class="control-label col-md-2">
        @Html.DropDownListFor(model => model.Grade2ID, new SelectList(@ViewBag.ListOfGrade, "GradeID", "Description"), htmlAttributes: new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.CourseTitle3, $"{Html.DisplayNameFor(model => model.CourseTitle3)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-8">
        @Html.EditorFor(model => model.CourseTitle3, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.CourseTitle3)
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-offset-2 col-md-1" style="text-align:left">
        @Html.LabelFor(model => model.TuitionAmount3, $"{Html.DisplayNameFor(model => model.TuitionAmount3)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-2">
        @Html.EditorFor(model => model.TuitionAmount3, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.TuitionAmount3)
      </div>
      <div class="control-label col-md-1" style="text-align:left;">
        @Html.LabelFor(model => model.Grade3ID, $"{Html.DisplayNameFor(model => model.Grade3ID)}:", new { @class = "control-label" })
      </div>
      <div class="control-label col-md-2">
        @Html.DropDownListFor(model => model.Grade3ID, new SelectList(@ViewBag.ListOfGrade, "GradeID", "Description"), htmlAttributes: new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.CourseTitle4, $"{Html.DisplayNameFor(model => model.CourseTitle4)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-8">
        @Html.EditorFor(model => model.CourseTitle4, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.CourseTitle4)
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-offset-2 col-md-1" style="text-align:left">
        @Html.LabelFor(model => model.TuitionAmount4, $"{Html.DisplayNameFor(model => model.TuitionAmount4)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-2">
        @Html.EditorFor(model => model.TuitionAmount4, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.TuitionAmount4)
      </div>
      <div class="control-label col-md-1" style="text-align:left;">
        @Html.LabelFor(model => model.Grade4ID, $"{Html.DisplayNameFor(model => model.Grade4ID)}:", new { @class = "control-label" })
      </div>
      <div class="control-label col-md-2">
        @Html.DropDownListFor(model => model.Grade4ID, new SelectList(@ViewBag.ListOfGrade, "GradeID", "Description"), htmlAttributes: new { @class = "form-control" })
      </div>
    </div>

    <div class="form-group">
      <hr class="style02" />
    </div>

    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.EMailAddress, $"{Html.DisplayNameFor(model => model.EMailAddress)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-8">
        @Html.EditorFor(model => model.EMailAddress, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.EMailAddress)
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.EducationalInstitutionID, $"{Html.DisplayNameFor(model => model.EducationalInstitutionID)}:", new { @class = "control-label" })
      </div>
      <div class="control-label col-md-8">
        @Html.DropDownListFor(model => model.EducationalInstitutionID, new SelectList(@ViewBag.ListOfEducationalInstitution, "EducationalInstitutionID", "Description"), htmlAttributes: new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.EducationalProgramID, $"{Html.DisplayNameFor(model => model.EducationalProgramID)}:", new { @class = "control-label" })
      </div>
      <div class="control-label col-md-8">
        @Html.DropDownListFor(model => model.EducationalProgramID, new SelectList(@ViewBag.ListOfEducationalProgram, "EducationalProgramID", "Description"), htmlAttributes: new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.MajorID, $"{Html.DisplayNameFor(model => model.MajorID)}:", new { @class = "control-label" })
      </div>
      <div class="control-label col-md-8">
        @Html.DropDownListFor(model => model.MajorID, new SelectList(@ViewBag.ListOfMajor, "MajorID", "Description"), htmlAttributes: new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.CourseStartDate, $"{Html.DisplayNameFor(model => model.CourseStartDate)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-2">
        @Html.EditorFor(model => model.CourseStartDate, new { htmlAttributes = new { @class = "form-control datepicker01", @type = "text" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.CourseStartDate)
      </div>
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.CourseEndDate, $"{Html.DisplayNameFor(model => model.CourseEndDate)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-2">
        @Html.EditorFor(model => model.CourseEndDate, new { htmlAttributes = new { @class = "form-control datepicker01", @type = "text" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.CourseEndDate)
      </div>
    </div>


    <div class="form-group">
      <hr class="style02" />
    </div>

    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.PaymentOptionID, $"{Html.DisplayNameFor(model => model.PaymentOptionID)}:", new { @class = "control-label" })
      </div>
      <div class="control-label col-md-8">
        @Html.DropDownListFor(model => model.PaymentOptionID, new SelectList(@ViewBag.ListOfPaymentOption, "PaymentOptionID", "Description"), htmlAttributes: new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.FinancialAidTypeID, $"{Html.DisplayNameFor(model => model.FinancialAidTypeID)}:", new { @class = "control-label" })
      </div>
      <div class="control-label col-md-8">
        @Html.DropDownListFor(model => model.FinancialAidTypeID, new SelectList(@ViewBag.ListOfFinancialAidType, "FinancialAidTypeID", "Description"), htmlAttributes: new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left">
        @Html.LabelFor(model => model.FinancialAidAmount, $"{Html.DisplayNameFor(model => model.FinancialAidAmount)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-2">
        @Html.EditorFor(model => model.FinancialAidAmount, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.FinancialAidAmount)
      </div>
    </div>

    <div class="form-group">
      <hr class="style02" />
    </div>

    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.StatusID, $"{Html.DisplayNameFor(model => model.StatusID)}:", new { @class = "control-label" })
      </div>
      <div class="control-label col-md-8">
        @Html.DropDownListFor(model => model.StatusID, new SelectList(@ViewBag.ListOfStatus, "StatusID", "Description"), htmlAttributes: new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.DeniedID, $"{Html.DisplayNameFor(model => model.DeniedID)}:", new { @class = "control-label" })
      </div>
      <div class="control-label col-md-8">
        @Html.DropDownListFor(model => model.DeniedID, new SelectList(@ViewBag.ListOfDenied, "DeniedID", "Description"), htmlAttributes: new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.Comment, $"{Html.DisplayNameFor(model => model.Comment)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-8">
        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.Comment)
      </div>
    </div>

    <div class="form-group">
      <hr class="style02" />
    </div>

    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.CheckNumber, $"{Html.DisplayNameFor(model => model.CheckNumber)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-2">
        @Html.EditorFor(model => model.CheckNumber, new { htmlAttributes = new { @class = "form-control" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.CheckNumber)
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.CheckMailDate, $"{Html.DisplayNameFor(model => model.CheckMailDate)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-2">
        @Html.EditorFor(model => model.CheckMailDate, new { htmlAttributes = new { @class = "form-control datepicker01", @type = "text" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.CheckMailDate)
      </div>
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.CheckPickUpDate, $"{Html.DisplayNameFor(model => model.CheckPickUpDate)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-2">
        @Html.EditorFor(model => model.CheckPickUpDate, new { htmlAttributes = new { @class = "form-control datepicker01", @type = "text" } })
      </div>
      <div class="text-danger col-md-2">
        @Html.ValidationMessageFor(model => model.CheckPickUpDate)
      </div>
    </div>

    <div class="form-group">
      <hr class="style02" />
    </div>

    <div class="form-group">
      <div class="control-label col-md-2" style="text-align:left;">
        @Html.LabelFor(model => model.Closed, $"{Html.DisplayNameFor(model => model.Closed)}:", new { @class = "control-label" })
      </div>
      <div class="col-md-2" style="margin-top:10px">
        @Html.CheckBoxFor(model => model.Closed, new { htmlAttributes = new { @class = "form-control" } })
      </div>
    </div>

    <div class="form-group">
      <hr class="style02" />
    </div>

    <div class="clear01" />

    <div class="form-group">
      <input type="submit" value="Save" class="btn btn-default" /> | <a asp-action="Index">Back to List</a>
    </div>

    <input type="hidden" asp-for="TuitionRequestID" />
    <input type="hidden" asp-for="CompanyID" />
    <input type="hidden" asp-for="RequestNumber" />
    <input type="hidden" asp-for="PersonID" />
    <input type="hidden" asp-for="EmployeeNumber" />
    <input type="hidden" asp-for="LastName" />
    <input type="hidden" asp-for="FirstName" />
    @*<input type="hidden" asp-for="SocialSecurityNumber" />*@
    <input type="hidden" asp-for="DateOfHire" />
    <input type="hidden" asp-for="EmployeeStatus" />
    <input type="hidden" asp-for="StatusDescription" />
    <input type="hidden" asp-for="EmploymentCategoryCode" />
    <input type="hidden" asp-for="EmploymentCategoryName" />
    <input type="hidden" asp-for="PositionNumber" />
    <input type="hidden" asp-for="Position" />
    <input type="hidden" asp-for="JobCode" />
    <input type="hidden" asp-for="JobName" />
    <input type="hidden" asp-for="UnionCode" />
    <input type="hidden" asp-for="CostCenter" />
    <input type="hidden" asp-for="Entity" />
    <input type="hidden" asp-for="HomePhone" />
    <input type="hidden" asp-for="DateEntered" />
    <input type="hidden" asp-for="SendProcessingEmail" />
    <input type="hidden" asp-for="ProcessingEmailSentDateTime" />
    <input type="hidden" asp-for="SendDeniedEmail" />
    <input type="hidden" asp-for="DeniedEmailSentDateTime" />
    <input type="hidden" asp-for="SendApprovedEmail" />
    <input type="hidden" asp-for="ApprovedEmailSentDateTime" />
    <input type="hidden" asp-for="SendIncompleteEmail" />
    <input type="hidden" asp-for="IncompleteEmailSentDateTime" />
    <input type="hidden" asp-for="ReimbursementPercent" />
    <input type="hidden" asp-for="MaximumReimbursement" />
    <input type="hidden" asp-for="YTDTuitionReceived" />
    <input type="hidden" asp-for="YTDCertificationTuitionReceived" />
    <input type="hidden" asp-for="ReimbursementAmount" />
    <input type="hidden" asp-for="AccountNumber" />
    <input type="hidden" asp-for="DeleteFlag" />
    <input type="hidden" asp-for="RecordUpdate" />
  </form>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  <script>
    $(function () {
      $(".datepicker01").datepicker({
        dateFormat: "mm-dd-yy", changeYear: true, changeMonth: true, showOtherMonths: true, selectOtherMonths: true });
    });
  </script>
}

@*@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  <script>
    $(function () {
      $(".datepicker01").datepicker({
        dateFormat: "mm-dd-yy", changeYear: true, changeMonth: true, showOtherMonths: true, selectOtherMonths: true, showOn: "button", buttonImage: "../../Images/calendar.gif", buttonImageOnly: true, buttonText: "Select date"
      });
    });
  </script>
}*@