﻿@model CATS.Models.TuitionRequestClosed
@{ViewData["Title"] = "Details"; }

<div class="container-fluid">
  <h2 class="offseth2">Tuition Request Detail</h2>
  <form class="form-horizontal" asp-action="Details">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <hr class="style03" />

    <div class="row" style="font-weight:normal; color:#0751FF; ">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.RequestNumber): @Html.DisplayFor(Model => Model.RequestNumber)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.DateEntered): @Html.DisplayFor(Model => Model.DateEntered)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.EmployeeNumber): @Html.DisplayFor(Model => Model.EmployeeNumber)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#0751FF">
      <div class="col-md-4">
        Employee Name: @Html.DisplayFor(Model => Model.LastName), @Html.DisplayFor(Model => Model.FirstName)
      </div>
      @*<div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.SocialSecurityNumber): @Html.DisplayFor(Model => Model.SocialSecurityNumber)
      </div>*@
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.DateOfHire): @Html.DisplayFor(Model => Model.DateOfHire)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#0751FF">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.Entity): @Html.DisplayFor(Model => Model.Entity)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.Position): @Html.DisplayFor(Model => Model.PositionNumber)-@Html.DisplayFor(Model => Model.Position)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.EmployeeStatus): @Html.DisplayFor(Model => Model.EmployeeStatus)-@Html.DisplayFor(Model => Model.StatusDescription)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#0751FF">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.UnionCode): @Html.DisplayFor(Model => Model.UnionCode)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.HomePhone): @Html.DisplayFor(Model => Model.HomePhone)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.CostCenter): @Html.DisplayFor(Model => Model.CostCenter)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#5405FF">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.AccountNumber): @Html.DisplayFor(Model => Model.AccountNumber)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.MaximumReimbursement): @Html.DisplayFor(Model => Model.MaximumReimbursement)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.ReimbursementPercent): @Html.DisplayFor(Model => Model.ReimbursementPercent)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#5405FF">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.YTDTuitionReceived): @Html.DisplayFor(Model => Model.YTDTuitionReceived)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.ReimbursementAmount): @Html.DisplayFor(Model => Model.ReimbursementAmount)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.YTDCertificationTuitionReceived): @Html.DisplayFor(Model => Model.YTDCertificationTuitionReceived)
      </div>
    </div>

    <div class="row" style="font-weight:normal; color:#5405FF">
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.ApprovedEmailSentDateTime): @Html.DisplayFor(Model => Model.ApprovedEmailSentDateTime)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.DeniedEmailSentDateTime): @Html.DisplayFor(Model => Model.DeniedEmailSentDateTime)
      </div>
      <div class="col-md-4">
        @Html.DisplayNameFor(Model => Model.IncompleteEmailSentDateTime): @Html.DisplayFor(Model => Model.IncompleteEmailSentDateTime)
      </div>
    </div>

    <hr class="style03" />

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.CourseTitle1):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.CourseTitle1)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-offset-2 col-md-1" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.TuitionAmount1):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.TuitionAmount1)
      </div>
      <div class="col-md-offset-1 col-md-1" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.Grade1):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.Grade1)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.CourseTitle2):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.CourseTitle2)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-offset-2 col-md-1" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.TuitionAmount2):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.TuitionAmount2)
      </div>
      <div class="col-md-offset-1 col-md-1" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.Grade2):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.Grade2)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.CourseTitle3):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.CourseTitle3)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-offset-2 col-md-1" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.TuitionAmount3):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.TuitionAmount3)
      </div>
      <div class="col-md-2" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.Grade3):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.Grade3)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.CourseTitle4):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.CourseTitle4)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-offset-2 col-md-1" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.TuitionAmount4):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.TuitionAmount4)
      </div>
      <div class="col-md-2" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.Grade4):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.Grade4)
      </div>
    </div>

    <hr class="style02" />

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.EMailAddress):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.EMailAddress)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.EducationalInstitution):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.EducationalInstitution)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.EducationalProgram):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.EducationalProgram)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.Major):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.Major)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.CourseStartDate):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.CourseStartDate)
      </div>
      <div class="col-md-2" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.CourseEndDate):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.CourseEndDate)
      </div>
    </div>

    <hr class="style02" />

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.PaymentOption):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.PaymentOption)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.FinancialAidType):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.FinancialAidType)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.FinancialAidAmount):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.FinancialAidAmount)
      </div>
    </div>

    <hr class="style02" />

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.Status):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.Status)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.Denied):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.Denied)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.Comment):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.Comment)
      </div>
    </div>

    <hr class="style02" />

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.CheckNumber):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.CheckNumber)
      </div>
    </div>

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.CheckMailDate):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.CheckMailDate)
      </div>
      <div class="col-md-2" style="font-weight:bold; text-align:right">
        @Html.DisplayNameFor(Model => Model.CheckPickUpDate):
      </div>
      <div class="col-md-2" style="font-weight:normal; text-align:left">
        @Html.DisplayFor(Model => Model.CheckPickUpDate)
      </div>
    </div>

    <hr class="style02" />

    <div class="row" style="color:#000000">
      <div class="col-md-2" style="font-weight:bold; text-align:right;">
        @Html.DisplayNameFor(Model => Model.Closed):
      </div>
      <div class="col-md-10" style="font-weight:normal; text-align:left;">
        @Html.DisplayFor(Model => Model.Closed)
      </div>
    </div>

    <hr class="style02" />

    <div class="clear01" />

    <div class="form-group">
      <a asp-action="IndexClosed">Back to List</a>
    </div>

    @*<input type="hidden" asp-for="TuitionRequestID" />
    <input type="hidden" asp-for="CompanyID" />
    <input type="hidden" asp-for="RequestNumber" />
    <input type="hidden" asp-for="EmployeeNumber" />
    <input type="hidden" asp-for="LastName" />
    <input type="hidden" asp-for="FirstName" />
    <input type="hidden" asp-for="SocialSecurityNumber" />
    <input type="hidden" asp-for="DateOfHire" />
    <input type="hidden" asp-for="EmployeeStatus" />
    <input type="hidden" asp-for="StatusDescription" />
    <input type="hidden" asp-for="PositionNumber" />
    <input type="hidden" asp-for="Position" />
    <input type="hidden" asp-for="UnionCode" />
    <input type="hidden" asp-for="CostCenter" />
    <input type="hidden" asp-for="Entity" />
    <input type="hidden" asp-for="HomePhone" />
    <input type="hidden" asp-for="DateEntered" />
    <input type="hidden" asp-for="SendProcessingEmail" />
    <input type="hidden" asp-for="ProcessingEmailSentDateTime" />
    <input type="hidden" asp-for="SendDeniedEmail" />
    <input type="hidden" asp-for="DeniedEmailSentDateTime" />
    <input type="hidden" asp-for="SendApprovedEmail" />
    <input type="hidden" asp-for="ApprovedEmailSentDateTime" />
    <input type="hidden" asp-for="SendIncompleteEmail" />
    <input type="hidden" asp-for="IncompleteEmailSentDateTime" />
    <input type="hidden" asp-for="ReimbursementPercent" />
    <input type="hidden" asp-for="MaximumReimbursement" />
    <input type="hidden" asp-for="YTDTuitionReceived" />
    <input type="hidden" asp-for="YTDCertificationTuitionReceived" />
    <input type="hidden" asp-for="ReimbursementAmount" />
    <input type="hidden" asp-for="AccountNumber" />
    <input type="hidden" asp-for="DeleteFlag" />
    <input type="hidden" asp-for="RecordUpdate" />*@
  </form>
</div>