﻿@model CATS.Models.Employee
@*@{
  ViewData["Title"] = "Tuition Request Processing: Employee Details";
}*@
<h2 class="offseth2">Tuition Request Processing: Employee Details</h2>

  <hr class="style03" />
  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(Model => Model.EmployeeNumber):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(Model => Model.EmployeeNumber)
    </div>
  </div>

  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      Employee Name:
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.LastName), @Html.DisplayFor(model => model.FirstName)
    </div>
  </div>

  @*<div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(model => model.SocialSecurityNumber):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.SocialSecurityNumber)
    </div>
  </div>*@

  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(model => model.DateOfHire):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.DateOfHire)
    </div>
  </div>

  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(model => model.EmployeeStatus):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.EmployeeStatus)-@Html.DisplayFor(model => model.StatusDescription)
    </div>
  </div>

  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(model => model.EmploymentCategoryCode)-@Html.DisplayNameFor(model => model.EmploymentCategoryName):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.EmploymentCategoryCode)-@Html.DisplayFor(model => model.EmploymentCategoryName)
    </div>
  </div>

  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(model => model.Position):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.PositionNumber)-@Html.DisplayFor(model => model.Position)
    </div>
  </div>

  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(model => model.JobCode)-@Html.DisplayNameFor(model => model.JobName):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.JobCode)-@Html.DisplayFor(model => model.JobName)
    </div>
  </div>

  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(model => model.UnionCode):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.UnionCode)
    </div>
  </div>


  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(model => model.CostCenter):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.CostCenter)
    </div>
  </div>

  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(model => model.Entity):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.Entity)
    </div>
  </div>

  <div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(model => model.HomePhone):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.HomePhone)
    </div>
  </div>

  @*<div class="row">
      <div class="col-md-3" style="text-align:right; font-weight:bold">
        @Html.DisplayNameFor(model => model.YTDTuitionReceived):
      </div>
      <div class="col-md-4">
        @Html.DisplayFor(model => model.YTDTuitionReceived)
      </div>
    </div>*@

  @*<div class="row" style="margin-bottom:5px;">
    <div class="col-md-3" style="text-align:right; font-weight:bold;">
      @Html.DisplayNameFor(model => model.MaximumReimbursement):
    </div>
    <div class="col-md-4">
      @Html.DisplayFor(model => model.MaximumReimbursement)
    </div>
  </div>*@

  <hr class="style03" />
  <div class="clear01" />
  <div>
    <a asp-controller="TuitionRequest" asp-action="CreateEdit" asp-route-pEmployeeID="@Model.EmployeeID" asp-route-pNewFlag="0">Select</a> |
    <a asp-controller="TuitionRequest" asp-action="EmployeeIndex">Back to List</a>
  </div>
