﻿@model PaginatedList<CATS.Models.Employee>
@*@{  ViewData["Title"] = "EmployeeIndex"; }*@

<h2 class="offseth2">Tuition Request Processing: Employee Selection</h2>

<form asp-controller="TuitionRequest" asp-action="EmployeeIndex" method="get">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group no-color">
        <p>
          Find by Last Name: <input type="text" class="form-control findby01" name="SearchString" value="@ViewBag.CurrentFilter" />
          <input type="submit" value="Search" class="btn btn-default" /> |
          <a asp-controller="TuitionRequest" asp-action="EmployeeIndex">Back to Full List</a>
        </p>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>
          @Html.ActionLink("Last Name", "EmployeeIndex", new { sortOrder = ViewBag.LastNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
          @Html.ActionLink("First Name", "EmployeeIndex", new { sortOrder = ViewBag.FirstNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
          @Html.ActionLink("Employee Number", "EmployeeIndex", new { sortOrder = ViewBag.EmployeeNumberSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.LastName)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.FirstName)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.EmployeeNumber)
          </td>
          <td>
            <a asp-controller="TuitionRequest" asp-action="EmployeeDetails" asp-route-id="@item.EmployeeID">Details</a> |
            <a asp-controller="TuitionRequest" asp-action="CreateEdit" asp-route-pEmployeeID="@item.EmployeeID" asp-route-pNewFlag="0">Select</a>
          </td>
        </tr>
      }
    </tbody>
  </table>

  @{
    var bPreviousDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var bNextDisabled = !Model.HasNextPage ? "disabled" : "";
  }

  <a asp-action="EmployeeIndex"
     asp-route-sortOrder="@ViewBag.currentSort"
     asp-route-page="@(Model.PageIndex - 1)"
     asp-route-currentFilter="@ViewBag.currentFilter"
     class="btn btn-default @bPreviousDisabled">
    Previous
  </a>
  <text class="pagenumber01">Page @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) of @Model.TotalPages</text>
  <a asp-action="EmployeeIndex"
     asp-route-sortOrder="@ViewBag.currentSort"
     asp-route-page="@(Model.PageIndex + 1)"
     asp-route-currentFilter="@ViewBag.currentFilter"
     class="btn btn-default @bNextDisabled">
    Next
  </a>
</form>