﻿@model PaginatedList<CATS.Models.TuitionRequestDisplay>
@{ ViewData["Title"] = "Index"; }

<h2 class="offseth2">Tuition Request Processing</h2>

<form asp-action="Index" method="get">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group no-color">
        <p>
          Find by Last Name: <input type="text" class="form-control findby01" name="SearchString" value="@ViewBag.CurrentFilter" />
          <input type="submit" value="Search" class="btn btn-default" /> |
          <a asp-action="Index">Back to Full List</a>
        </p>
      </div>
    </div>
  </div>

  <p><a asp-controller="TuitionRequest" asp-action="EmployeeIndex">Create New</a></p>

  <table class="table">
    <thead>
      <tr>
        <th>
          @Html.ActionLink("Request Number", "Index", new { sortOrder = ViewBag.RequestNumberSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
          @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
          @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
          @Html.ActionLink("Employee Number", "Index", new { sortOrder = ViewBag.EmployeeNumberSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
          @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusDescriptionSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.RequestNumber)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.EmployeeNumber)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.StatusDescription)
        </td>
        <td>
          <a asp-action="CreateEdit" asp-route-id="@item.TuitionRequestID">Edit</a> | <a asp-action="Delete" asp-route-id="@item.TuitionRequestID">Delete</a>
        </td>
      </tr>
      }
    </tbody>
  </table>

  @{
    var bPreviousDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var bNextDisabled = !Model.HasNextPage ? "disabled" : "";
  }

  <a asp-action="Index"
     asp-route-sortOrder="@ViewBag.currentSort"
     asp-route-page="@(Model.PageIndex - 1)"
     asp-route-currentFilter="@ViewBag.currentFilter"
     class="btn btn-default @bPreviousDisabled">
    Previous
  </a>
  <text class="pagenumber01">Page @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) of @Model.TotalPages</text>
  <a asp-action="Index"
     asp-route-sortOrder="@ViewBag.currentSort"
     asp-route-page="@(Model.PageIndex + 1)"
     asp-route-currentFilter="@ViewBag.currentFilter"
     class="btn btn-default @bNextDisabled">
    Next
  </a>
</form>